.wrapper {
    width: 37em;
    margin: 0 auto;
}

.slider{
    margin-top: 4em;
    width: 500px;
    height: 450px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em; 
}

.photo_place {
    height: 30vw;  
    z-index: 0;  
}

img {
    width: 50vw;
    height: 30vw;
    border-radius: 10px;
}

.mem {
    display: none;
    opacity: 0; 
}

@keyframes memIn {
    0% {
        opacity: 0;
    }
}

.title {
    text-align: left;
    font-size: 1.5rem;
    display: none;
    color: rgb(21, 95, 3);
    font-weight: bold;
    
}

@keyframes textIn {
    0% {
        opacity: 0;
        margin-left: -20px;
    }
}


input:nth-of-type(1):checked  ~ .photo_place > .mem:nth-of-type(1),
input:nth-of-type(2):checked  ~ .photo_place > .mem:nth-of-type(2),
input:nth-of-type(3):checked  ~ .photo_place > .mem:nth-of-type(3),
input:nth-of-type(4):checked  ~ .photo_place > .mem:nth-of-type(4) {
    display: block;
    opacity: 1;
    animation: memIn 3s 1;
}





.underPic {
    width: 50vw;
    display: flex;
    justify-content: space-between;
}

.controller {
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 1em;
    
}

input[type=radio] {
	display: none;
}

label {
    border: 2px solid green;
    border-radius: 5px;
    background: linear-gradient(to right, green, yellow);
    width: 3em;
    height: 0.5em;
    content: " ";
}


label:hover {
    background: linear-gradient(to left, green, yellow);
    opacity: 0.8;
    cursor: pointer;
}



input:nth-of-type(1):checked  ~ .underPic > .controller > label:nth-of-type(1),
input:nth-of-type(2):checked  ~ .underPic > .controller > label:nth-of-type(2),
input:nth-of-type(3):checked  ~ .underPic > .controller > label:nth-of-type(3),
input:nth-of-type(4):checked  ~ .underPic > .controller > label:nth-of-type(4) {
    background: green;
    
}

input:nth-of-type(1):checked  ~ .underPic > .titles > .title:nth-of-type(1),
input:nth-of-type(2):checked  ~ .underPic > .titles > .title:nth-of-type(2),
input:nth-of-type(3):checked  ~ .underPic > .titles > .title:nth-of-type(3),
input:nth-of-type(4):checked  ~ .underPic > .titles > .title:nth-of-type(4) {
    display: block; 
    animation: textIn 2s 1 both;
}




@media screen and (max-width: 768px) { 
    img {
        width: 80vw;
        height: 50vw;
    }

    .photo_place {
        height: 50vw;
        width: 80vw;
    }

  /*   .controller {
        
        justify-content: space-around;
        align-items: center;
        justify-self: flex-start;
    }
 */
    .underPic {
        width: 80vw;
    }
}